html {
  height: 100%; }

body {
  background: #1b1b1e;
  min-height: 100%;
  position: relative; }
  body::after {
    content: '';
    height: 80px;
    display: block; }

.navbar {
  padding: 0;
  background: #111113; }

.nav-link {
  color: #fff;
  font-weight: 700;
  padding: 0px 20px; }
  .nav-link:hover {
    color: #f79f1c; }

.menu-bars {
  color: #fff; }

footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  margin-top: 30px;
  background: #111113; }
  footer p, footer .social {
    margin: 12px 0px;
    color: #adadad;
    line-height: 25px; }
  footer .social {
    font-size: 20px;
    text-align: right; }
    footer .social a {
      color: #adadad;
      padding: 0px 5px; }
      footer .social a:hover {
        color: white; }

@media screen and (max-width: 575px) {
  .navbar img {
    display: block; }
  .nav-link {
    text-align: center;
    margin: 15px 0px; } }
