body {
  background: #1b1b1e; }

.navbar {
  padding: 0;
  background: #111113; }

.nav-link {
  color: #fff;
  font-weight: 700;
  padding: 0px 20px; }

a:hover {
  color: #f79f1c; }

.menu-bars {
  color: #fff; }

.film-img {
  width: 100%; }

.film-title {
  color: #fff;
  margin: 0;
  margin: 5px 0px;
  text-align: center; }

.film-description {
  color: #d3d1d1;
  text-align: center; }
  .film-description b {
    color: #F7E61C;
    margin-right: 15px; }

@media screen and (max-width: 575px) {
  .navbar img {
    display: block; }
  .nav-link {
    text-align: center;
    margin: 15px 0px; } }

/* @media (min-width: 576px) {
    .navbar-expand-sm .navbar-nav .nav-link {
        padding-right: 0; 
        padding-left: 3rem;
    }
} */
