.grid-content {
    width: 80%;
    margin: auto;
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 50px 30px;
}


.film-image {
    img {
        width: 100%;

        &:hover {
            border: 1px solid #fff;
            opacity: 0.85;
        }
    }
}

.film-title {
    color: #fff;
    & h5 {
        margin:0;
        padding: 5px 0px;
        text-align: center;
        overflow: hidden;
        white-space: nowrap;
        text-transform: capitalize;
    }
    &:hover {
        text-decoration: none;
        color: rgb(247, 159, 28);
    }
}

.film-description {
    color: rgb(211, 209, 209);
    text-align: center;
    margin: 0;
    & b {
        color: #F7E61C;
        margin-right: 15px;
    }
}


@media screen and (max-width: 575px) {
    .grid-content {
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    }
}