html {
    height: 100%;
}

body {
    background: lighten($color: #111113, $amount: 4);
    min-height: 100%;
    position: relative;

    &::after {
        content: '';
        height: 80px;
        display: block;
    }
}

.navbar {
    padding: 0;
    background: #111113;
}

.nav-link {
    color: #fff;
    font-weight: 700;
    padding: 0px 20px;

    &:hover {
        color: rgb(247, 159, 28);
    }
}

.menu-bars {
    color: #fff;
}

footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    margin-top: 30px;
    background: #111113;
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(180px, 1fr));
    margin: auto;
    width: 80%;

    .rights,
    .social {
        color: darken($color: #fff, $amount: 32);
    }

    .rights p {
        margin: 0;
    }

    .social {
        font-size: 20px;
        text-align: right;
        vertical-align: middle;

        a {
            color: darken($color: #fff, $amount: 16);
            padding: 0px 10px;

            &:hover {
                color: darken($color: #fff, $amount: 32)
            }
        }
    }
}

@media screen and (max-width: 575px) {
    .navbar img {
        display: block;
    }

    .nav-link {
        text-align: center;
        margin: 15px 0px;
    }
}