html {
    height: 100%;
}

body {
    background: lighten($color: #111113, $amount: 4);
    min-height: 100%;
    position: relative;

    &::after {
        content: '';
        height: 80px;
        display: block;
    }
}

.navbar {
    padding: 0;
    background: #111113;
}

.nav-link{
    color: #fff;
    font-weight: 700;
    padding: 0px 20px;
    &:hover {
        color: rgb(247, 159, 28);
    }
}

.menu-bars {
    color: #fff;
}

footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    margin-top: 30px;
    background: #111113;
    & p, .social {
        margin: 12px 0px;
        color: darken($color: #fff, $amount: 32);
        line-height: 25px;
    }

    & .social {
        font-size: 20px;
        text-align: right;
        & a {
            color: darken($color: #fff, $amount: 32);
            padding: 0px 5px;
            &:hover {
                color: lighten($color: #fff, $amount: 16);
            }
        }
    }
    
}


@media screen and (max-width: 575px) {
    .navbar img {
        display: block;
    }

    .nav-link {
        text-align: center;
        margin: 15px 0px;
    }
}